<div id="pagination">
{{#if olderContentExists}}
  {{#link-to "posts" (query-params page=olderPage)}}Older Posts{{/link-to}}
{{/if}}
{{#if needsPaginationSeperator}}
   -
{{/if}}
{{#if newerContentExists}}
   {{#link-to "posts" (query-params page=newerPage)}}Newer Posts{{/link-to}}
{{/if}}
</div>
