a {
  color: #425223;
  text-decoration: none;
  outline: 0
}

a:hover {
  color: #83A346
}

p, pre {
  margin-bottom: 1rem
}

body {
  background-color: #FAFCFA;
  margin: 0
}

li {
  margin-bottom: 0
}

.date {
  font-style: italic
}

.container > ul {
  list-style: none
}

.section.banner img {
  width: 100%
}

.section.posts {
  padding: 1rem
}

.section.contact {
  padding: 1rem
}

.section.posts h5 {
  margin-bottom: 1rem
}

.section.posts img {
  width: 100%;
  padding-bottom: 1rem
}

#title-menu-container {
  background-color: #040602;
  width: 100%
}

#site-title {
  display: inline-block;
  z-index: 1;
  padding: 1rem
}

#site-title h5 {
  color: #FAFCFA;
  margin-bottom: 0
}

#menu-toggle {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  z-index: 1
}

#menu-toggle a {
  color: #FAFCFA
}

nav {
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  height: 100px;
  overflow: hidden;
  transition: height 0.5s ease-in-out
}

nav.hide {
  height: 0px;
  position: relative
}

nav ul {
  list-style: none;
  margin-bottom: 0
}

nav ul li {
  color: #FAFCFA;
  font-size: 1rem;
  padding: 0.5rem;
  border-top: solid #FAFCFA 1px
}

nav a {
  color: #FAFCFA
}

#return {
  padding: 1rem
}

.portrait {
  text-align: center
}

.portrait img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%
}

@media (min-width: 550px) {
  #menu-toggle {
    font-size: 2.4rem
  }

  .summary {
    padding: 1rem
  }
}

@media (min-width: 750px) {
  #title-menu-container {
    width: 100%
  }

  #site-title {
    padding: 0;
    padding-left: 1rem
  }

  #site-title h5 {
    text-align: left
  }

  #menu-toggle {
    display: none
  }

  nav {
    position: absolute;
    display: inline-block;
    width: auto;
    right: 0;
    height: auto;
    padding: 0.5rem 1rem 0.5rem 0rem
  }

  nav.hide {
    position: absolute;
    height: auto;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0rem
  }

  nav ul li {
    display: inline-block;
    border-top: none
  }
}

@media (min-width: 1000px) {
  .section.contact {
    padding-top: 4rem
  }
  .summary {
    padding-top: 4rem
  }
}
