<div class="section posts">
  <div class="container">
    {{#link-to 'posts'}}Back to posts{{/link-to}}
    <h5>{{model.title}}</h5>
    <div class="date">{{model.createdAt}}</div>
    <div>{{markdown-to-html markdown=model.md}}</div>
  </div>
</div>
