<nav>
    <div id="nav-home" class="nav-item">{{#link-to 'posts'}}DavidEnglish.ca{{/link-to}}</div>
    <div id="nav-contact" class="nav-item">{{#link-to 'contact'}}About and Contact{{/link-to}}</div>
</nav>

{{outlet}}
