<div class="section banner">
  <div class="floating-title">
    <h2>DavidEnglish.ca</h2>
  </div>
  <video preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" class="video-width">
    <source src="assets/video/lillooet.mp4" type="video/mp4">
    <source src="assets/video/lillooet.webm" type="video/webm">
  </video>
</div>

{{outlet}}
