<div id="title-menu-container">
  <div id="site-title">
    <h5>DAVIDENGLISH.CA</h5>
  </div>
  <div id="menu-toggle"><a href='javascript:void(0)' {{action 'toggleMenu'}}>&#9776;</a></div>
  <nav class="hide">
    <ul>
      <li>{{#link-to 'posts' (query-params page="null")}}HOME{{/link-to}}</li>
      <li>{{#link-to 'contact'}}ABOUT/CONTACT{{/link-to}}</li>
    </ul>
  </nav>
</div>

{{outlet}}
