<div id="about" class="section contact">
  <div class="container">
    <div class="row">
        <div class="three columns portrait">
          <img alt="David English" src="assets/image/david_english_300.png">
        </div>
        <div class="nine columns summary">
          <p>Hi there. My name is David and I am a software developer. Following a lengthy stint as an opera singer, I moved into computing. I currently work for <a href="https://bandzoogle.com">Bandzoogle</a> on their Rails/Ember app which powers over 25,000 websites. I live in North Vancouver with my wife.</p>
          <p>You can reach me by <a href="mailto:contactdavidenglish@gmail.com">email</a>, <a href="https://twitter.com/davidenglish_ca">Twitter</a>, or if you like, you can checkout my <a href="https://ca.linkedin.com/in/david-english-ab331384">LinkedIn</a>.</p>
        </div>
      </div>
  </div>
</div>
