<div class="section posts">
  <div class="container">
    <ul>
      {{#each reverse as |post|}}
      <li>{{#link-to 'posts.show' post}}
        <h5>{{post.title}}</h5>
        {{/link-to}}
        <div class="date">{{post.createdAt}}</div>
        {{post.initGetMD}}
        <div>{{markdown-to-html markdown=post.md}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
