<div class="section posts">
  <div class="container">
    <ul>
      {{#each reverse as |post|}}
      <li><h4>{{post.title}}</h4>
        <div>{{post.createdAt}}</div>
        <p>{{{post.content}}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
